p{
    color:aquamarine;
font-weight: bolder;
}
h2{
	color: cadetblue;
}
img{
	width: 953px;
height: 370px;
}
body{
	font-size: 18px;
    line-height: 1.1;
    letter-spacing: 0.026em;
    font-weight: 500;
    font-style: italic
}
body{
	background-color:#13121c";
    }
 